repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: scala-format
        name: Scalafmt
        entry: sbt "scalafmtAll; scalafmtSbt"
        files: \.(scala|sbt)$
        language: system
        pass_filenames: false
