name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4.8.0
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'sbt'

      - name: Setup sbt
        uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1

      - name: Lint, Format Check and Compile
        run: sbt scalafmtCheckAll scalafmtSbtCheck "scalafixAll --check" compile

      - name: Run tests with coverage
        run: sbt coverage test coverageAggregate

      - name: Prepare coverage report
        run: |
          echo "Finding scoverage.xml..."
          find target -name scoverage.xml -exec cp {} scoverage.xml \;

          echo "Checking if file exists at root..."
          ls -l scoverage.xml

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@689fb39b34b9aa95ebc5f8f119343ddd51542402 # v4.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
